<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Food Truck Finder</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <button class="btn btn-default add-truck" id="add">Add a Truck</button>
      <br>
      <form id="new-truck" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <label>Name:</label><input class="form-control required" type="text" name="name">
          <label>Image:</label><input class="form-control required" type="text" name="image">
          <label>Type:</label><input class="form-control required" type="text" name="type">
          <label>Location:</label><input class="form-control" type="text" name="location">
          <input id="submit" type="submit" class="btn btn-default" value="Submit">
      </form>
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 trucks"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 right-side"></div>
      </div>
    </div>
  </body>
</html>
