<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Food Truck Finder</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <button class="btn">Add a Truck!</button>
      <form>
          <label>Name:</label><input class="form-control" type="text" name="name">
          <label>Image:</label><input class="form-control" type="text" name="image">
          <label>Type:</label><input class="form-control" type="text" name="type">
          <label>Location:</label><input class="form-control" type="text" name="twitter">
          <input type="submit" value= "SUBMIT">
      </form>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 truck">Testing</div>
      </div>
    </div>
  </body>
</html>
