body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

#new-truck{
	display: none;
}
.truck-pic{
	height: 100%;
	width: 100%;
}
.truck{
	margin-top: 20px;
	margin-bottom: 60px;
}
.delete{
	height: 20px;
	width: 20px;
	background-image: url("http://www.clker.com/cliparts/e/0/f/4/12428125621652493290X_mark_18x18_02.svg.hi.png");
	background-size: 100% 100%;
	margin-right: 30px;
}
.delete:hover{
	background-color: red;
}
.right-side form{
	position: fixed;
}