body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

form{
	display: none;
}
.truck-pic{
	height: 100%;
	width: 100%;
}
.right-side{
	background-color: red;
	height: 100%;
}
